body {
  margin: 0;
  font-family: monospace;
  background-image: url("https://i.postimg.cc/xd0HpVqC/background-gradient-lights.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #201b1b;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #191717;
  background-image: url("");
  background-repeat: no-repeat;
  background-position:center;
  color: #FFFFFF;
  opacity:8%;
  height: 10rem;
  padding: 5rem;
}

#stock-picker-header {
  display: flex;
  justify-content: center;
  background: #dad0d0;
  background-image: url("");
  background-repeat: no-repeat;
  background-position:center;
  color: #FFFFFF;
  opacity:0%;
  height: 10rem;
  padding: 5rem;
}

#price-data-current {
  font-size: 26px;
}

#price-data-high {
  font-size: 26px;
}

#price-data-low {
  font-size: 26px;
}

#profile2-name {

  opacity: 90%;
  font-size: 36px;
}

#profile2-industry {

  opacity: 90%;
  font-size: 36px;
}
#profile2-capitalisation {

  opacity: 90%;
  font-size: 36px;
}

#profile2-logo {
  opacity: 90%;
  font-size: 36px;
  width: "500";
  height: "700";
}

#price-chart {
object-position: center;
margin: 10px;
height: 30em;
width: 60em;
}

button {
  position: relative;
  background-color: #b6d0d0;
  border: white;
  border-radius: 6px;
  height: 3rem;
  width: max-content;
  padding: 13px;
  color: rgb(21, 24, 23);
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: rgb(196, 210, 221);
  border: #dae4e5 solid 1px;
  color: #16a5bf;
}

.input-text {
  border-radius: 5px;
  height: 3rem;
  width: 25%;
  font-size: 28px;
  font-family: monospace;
  margin: 5px;
  text-align: center;
}

P {
  line-height:  26px;
  color: black;
  font-size: 18px;
  text-align: center;

}

caption {
  line-height:  2.6;
  color: black;
  font-size: 24px;
  text-align: center;

}

#news-content {
  background-color: #c7bbbb;
  opacity: 90%;
  font-size: 18px;
  width: "500";
  height: "600"

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 126px;
  width: 100%;
  background-color: rgb(179, 179, 168);
  color: white;
  text-align: center;

}