body {
    margin: 0;
    font-family: monospace;
  }

  #stock-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    background-image: url(`https://html.sammy-codes.com/images/background.jpg`);
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }

  #stock-header img {
    height: 6rem;
    width: auto;
  }